@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');

body {
    background-color: #f0f0f0;
    font-family: 'Quicksand', sans-serif;
}

a {
    display: block;
    text-decoration: none;
}

ul {
    list-style-type: none;
    position: fixed;
    width: 100%;
    top: 0;
}

.navbar {    
    font-size: 20px;
    display: flex;
    justify-content: center;
    position: sticky;    
    border-radius: 10px;    
}

.navbar-item {    
    padding: 20px;
    margin: 3px;
    color: #353535;
    transition: all 300ms ease-in-out;    
}

.navbar-item:hover {
    background-color: #0078da;
    color: #f1f1f1;
    border-radius: 7px;
}

.active {
    font-weight: bold;
    background-color:  #0069be;
    color: #f1f1f1;
    border-radius: 7px;
}

.quote-section {
    display: flex;
    justify-content: center;
}

.quote-text {
    margin-top: 10%;
    margin-bottom: 10px;
}

#quoteBox {
    padding: 10px;
    padding-right: 50px;
    padding-left: 50px;
    background-color: rgb(233, 233, 233);
    border-radius: 5px;
    border-right: 3px solid #bdbdbd;
    border-bottom: 3px solid #bdbdbd;
}