@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
}

button {
    font-family: 'Quicksand';
    font-size: 20px;
    font-weight: bold;
}

a {
    display: block;
    text-decoration: none;
}

ul {
    list-style-type: none;       
    position: fixed;
    width: 100%;
    top: 0;
}

/*navbar customization here*/

#theme-btn {
    text-decoration: none;
    border: 0;    
}

.navbar {    
    font-size: 20px;
    display: flex;
    justify-content: center;    
    position: sticky;     
}

.navbar-item {    
    background-color: #ffffff;    
    padding: 20px;
    margin: 3px;
    color: #353535;
    border-radius: 10px;    
    transition: all 300ms ease-in-out;    
}

.navbar-item:hover {
    background-color: #0078da;
    color: #f1f1f1;
    border-radius: 7px;
}

.active {
    font-weight: bold;
    background-color:  #0069be;
    color: #f1f1f1;
    border-radius: 7px;
}

/* quote section */

.quote-section {
    display: flex;
    justify-content: center;
    flex-direction: column;    
}

/* Quote text */

.quote-text {
    margin-top: 10%;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

#quote-box {
    padding: 10px;
    padding-right: 50px;
    padding-left: 50px;
    background-color: rgb(233, 233, 233);
    border-radius: 5px;
    text-align: center;
}

/* Quote buttons */

.quote-button-group {
    display: flex;
    justify-content: center;
    width: 100%;
}

.quote-button {     
    border: 0;  
    border-radius: 3px;    
    padding: 10px;
    margin: 10px;
    font-size: 20px;
}

.bg-rouge {
    background-color: rgb(231, 161, 161);
}

.bg-lyla {
    background-color: #f5a7e1;
}

.bg-noire {
    background-color: #5e5e5e;
    color: #f1f1f1;
}

.bg-imola {
    background-color: #a0d8c1;    
}

/* Quote Buttons Animations */

.quote-button-group button:hover {  
    cursor: pointer;  
    border-right: 3px solid #bdbdbd;
    border-bottom: 3px solid #bdbdbd;
    transition: all 100ms ease-in-out;
}

/* Quote Button styling ends here */

/* Converter Styling, button styling starts here */

.convert-section {
    margin-top: 10%;
    display: flex;
    justify-content: center;  
    font-size: 21px;  
}

.convert-bar {    
    background-color: rgb(101, 232, 255);    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 19px;
    padding-left: 10%;
    padding-right: 10%;
    border: 0;    
}

.convert-bar div span {       
    padding: 5px;
}

.convert-bar div input {        
    margin-left: 8px;
    margin-right: 8px;
    border: 0;
    border-radius: 7px;
    padding: 11px;
}

.convert-bar select {
    border-radius: 7px;    
    font-size: 21px;
    padding: 5px;
    background-color: rgb(248, 248, 248);
}

/* convert section animation */

select:hover {    
    cursor: pointer;
    background-color: rgb(219, 219, 219);;
}

/* Converter Go button styling */

#go-button {
    font-weight: normal;
    padding: 6px;
    border-radius: 4px;
    margin: 0;
    margin-right: 10px;
    margin-left: 10px;
    border: 1px solid black;
    background-color: rgb(248, 248, 248);
}

#go-button:hover {
    cursor: pointer;
    background-color: rgb(230, 230, 230);;
}


/* min-max styling starts here */

.fl-display {
    display: flex;        
}

.mx-section {
    justify-content: center;
    margin-top: 10%;    
}

.mx-inner {
    background-color: bisque;
    border-radius: 7px;
    border: 0;    
    padding: 20px;
}

.mx-row {    
    flex-direction: row;    
}

.mx-column {    
    flex-direction: column;
    justify-content: start;    
}

.mxcl-right {
    align-items: flex-end;    
}

.mxcl-left {
    align-items: flex-start;
    margin-left: 10px;
}

.mxcl-left input {
    margin-bottom: 5px;
    margin-top: 5px;
}

.mxcl-left span {
    font-weight: bold;
}

.fl-display div span {
    margin-top: 10px;
    font-size: 25px;
}

/* min-max styling ends here */

.mx-row button {
    border-radius: 5px;
    border: 0;
    padding: 10px;
    margin: 5px;
    background-color: rgb(252, 252, 252);
}

.mx-row button:hover {
    cursor: pointer;
    background-color: rgb(207, 207, 207);
}

#textArea {
    border: .5px solid #000000;
    border-radius: 8px;
    margin-bottom: 5px;
    padding: 10px;
}